@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.CustomLoginBg {
  background-image: url("/images/LoginBg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* @media screen and (width < 600px) {
  .CustomLoginBg {
    background-position: left;
  }
}
 */

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 5px;
  height: 35px;
  background-color: #003ab8; /* Blue color */

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
